* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #000;
}

audio {
  margin: 30px auto;
}

.container {
  width: 400px;
  height: 420px;
  overflow: hidden;
  margin: 0 auto;
}

.container ul {
  transition: 0.5s;
}

.container ul li {
  list-style: none;
  height: 30px;
  line-height: 30px;
  color: #666;
  transition: 0.5s;
}

.container ul li.active {
  color: #fff;
  transform: scale(1.2);
}